---
const { width = "24", height = "24" } = Astro.props;
---

<!-- Taken from https://heroicons.com/ -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  width={width}
  height={height}
  viewBox="0 0 24 24"
  stroke-width="3"
  stroke="currentColor">
  <title>Right chevron icon</title>
  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
</svg>
