---
import PageMeta from '../components/PageMeta.astro';
import { SITE_TITLE } from '../config';
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE} | Front end Developer`} slot="meta" />
  <Fragment slot="main">
    <section class="mb-8">
      <h1 class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden">
        <span
          class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent">
          Coming soon!
        </span>
      </h1>
      <p class="text-2xl pb-4">Fingers crossed I get this done soon.</p>
    </section>
  </Fragment>
</PageLayout>
