---
import BaseHead from "../components/BaseHead.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <BaseHead
    title="Get in Touch | Contact Mohamed Yamani"
    description="Get in touch with Mohamed Yamani, a software engineer open to new opportunities and collaborations. Reach out for tech talks, workshops, or projects."
    slot="meta"
  />
  <section class="py-20" slot="main">
    <div class="mx-auto max-w-6xl px-6 sm:px-8">
      <h1 class="text-2xl font-bold sm:text-4xl md:text-5xl">
        Contact
        <sub class="font-vollkorn text-[0.625rem] font-normal sm:text-xs">
          I am mostly friendly, I promise.
        </sub>
      </h1>
      <div class="max-w-2xl">
        <p class="mt-4 max-w-2xl">
          I'm currently open to new full-time opportunities and always excited to contribute to the
          tech community through workshops, talks, and collaborative projects.
        </p>
        <p class="mt-2">
          Feel free to reach out if you have an interesting opportunity or just want to connect!
        </p>
      </div>
      <ul class="flex flex-col items-start">
        <li>
          <a href="mailto:elamine.yamani@gmail.com">
            <span>Email</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/yamanidev" target="_blank" rel="noopener">
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/yamanidev/" target="_blank" rel="noopener">
            <span>LinkedIn</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</PageLayout>
