---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <BaseHead title={`Contact | ${SITE_TITLE}`} description={SITE_DESCRIPTION} slot="meta" />
  <section class="py-20" slot="main">
    <div class="mx-auto max-w-6xl px-6 sm:px-8">
      <h1 class="text-2xl font-bold sm:text-4xl md:text-5xl">
        Contact
        <sub class="font-vollkorn text-[0.625rem] font-normal sm:text-xs">
          I am mostly friendly, I promise.
        </sub>
      </h1>
      <p class="my-4 max-w-2xl text-lg">
        I am currently unavailable for work, but I am gladly available to host workshops, talks or
        similar activities for the tech community.
      </p>
      <ul class="flex flex-col items-start text-white">
        <li>
          <a href="mailto:elamine.yamani@gmail.com">
            <span>Email</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/yamanidev" target="_blank" rel="noopener">
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/yamanidev/" target="_blank" rel="noopener">
            <span>LinkedIn</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</PageLayout>
