---
import BaseHead from "../components/BaseHead.astro";
import Intro from "../components/Intro.astro";
import LatestPosts from "../components/LatestPosts.astro";
import StayConnected from "../components/StayConnected.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <BaseHead
    title={`${SITE_TITLE} | Front end Software Engineer`}
    description={SITE_DESCRIPTION}
    slot="meta"
  />
  <div slot="main">
    <Intro slot="main" />
    <LatestPosts />
    <div class="mx-auto my-16 max-w-4xl px-6 sm:px-8">
      <StayConnected />
    </div>
  </div>
</PageLayout>
