---
import BaseHead from "../components/BaseHead.astro";
import BuildingOfficeIcon from "../components/svg/BuildingOfficeIcon.astro";
import CalendarDaysIcon from "../components/svg/CalendarDaysIcon.astro";
import MapPinIcon from "../components/svg/MapPinIcon.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <BaseHead title="Talks" description="Browse all categories for our blog" slot="meta" />
  <section slot="main" class="py-10">
    <div class="mx-auto max-w-6xl px-6 sm:px-8">
      <h1 class="text-2xl font-bold sm:text-4xl md:text-5xl">Talks</h1>
      <div class="mt-10 max-w-xl space-y-8">
        <article class="rounded-md border border-primary-main p-5">
          <h2 class="text-xl sm:text-2xl">
            <a
              href="https://www.figma.com/slides/v2wCgIfzsiv2LxtmSMpujp/Talk%3A-Inside-the-Browser%3A-How-the-Front-end-Works-%E2%80%94GDSC-USTO-MB-2025?node-id=1-87&t=GlROEjthALGjoNvs-1"
              class="unset underline"
              target="_blank"
              rel="noopener noreferrer">
              Inside the Browser: How the Front end Works
            </a>
          </h2>
          <div class="mt-4 grid gap-2 text-sm sm:grid-cols-2 sm:gap-y-4">
            <div class="flex items-center gap-1.5">
              <span>
                <BuildingOfficeIcon width="20" height="20" />
              </span>
              <a
                href="https://gdg.community.dev/gdg-on-campus-universite-des-sciences-et-de-la-technologie-doran-mohamed-boudiaf-ustomb-oran-algeria/"
                class="unset underline"
                target="_blank"
                rel="noopener noreferrer">
                GDSC USTO-MB
              </a>
            </div>
            <div class="flex items-center gap-1.5">
              <span>
                <CalendarDaysIcon width="20" height="20" />
              </span>
              <span>14th February, 2025</span>
            </div>
            <div class="flex items-center gap-1.5 sm:col-span-2">
              <span>
                <MapPinIcon width="20" height="20" />
              </span>
              <span>Online (Google Meet)</span>
            </div>
          </div>
        </article>
        <article class="rounded-md border border-primary-main p-5">
          <h2 class="text-xl sm:text-2xl">
            <a
              href="https://www.figma.com/slides/P5AyAuohxZ4iMxkI4tcbFk/Talk%3A-Working-as-a-student-%E2%80%94GDSC-ESI-SBA-2024?node-id=1-88&t=dH3uAzxx7qHRvka2-1"
              class="unset underline"
              target="_blank"
              rel="noopener noreferrer">
              Working as a Student
            </a>
          </h2>
          <div class="mt-4 grid gap-2 text-sm sm:grid-cols-2 sm:gap-y-4">
            <div class="flex items-center gap-1.5">
              <span>
                <BuildingOfficeIcon width="20" height="20" />
              </span>
              <a
                href="https://gdg.community.dev/gdg-sba/"
                class="unset underline"
                target="_blank"
                rel="noopener noreferrer">
                GDSC ESI SBA
              </a>
            </div>
            <div class="flex items-center gap-1.5">
              <span>
                <CalendarDaysIcon width="20" height="20" />
              </span>
              <span>2nd January, 2024</span>
            </div>
            <div class="flex items-center gap-1.5 sm:col-span-2">
              <span>
                <MapPinIcon width="20" height="20" />
              </span>
              <span>Online (Discord Server)</span>
            </div>
          </div>
        </article>
        <article class="rounded-md border border-primary-main p-5">
          <h2 class="text-xl sm:text-2xl">
            <a
              href="https://www.figma.com/slides/9MqqHGduwXiwULhidPw407/Talk%3A-Why-you-should-write-technical-articles-%E2%80%94DevFest-El-Bayadh-2023?node-id=1-90&t=s4JhReioTixezMnt-1"
              class="unset underline"
              target="_blank"
              rel="noopener noreferrer">
              Why You Should Write Technical Articles
            </a>
          </h2>
          <div class="mt-4 grid gap-2 text-sm sm:grid-cols-2 sm:gap-y-4">
            <div class="flex items-center gap-1.5">
              <span>
                <BuildingOfficeIcon width="20" height="20" />
              </span>
              <a
                href="https://gdg.community.dev/gdg-elbayadh/"
                class="unset underline"
                target="_blank"
                rel="noopener noreferrer">
                GDG El Bayadh
              </a>
            </div>
            <div class="flex items-center gap-1.5">
              <span>
                <CalendarDaysIcon width="20" height="20" />
              </span>
              <span>23rd December, 2023</span>
            </div>
            <div class="flex items-center gap-1.5 sm:col-span-2">
              <span>
                <MapPinIcon width="20" height="20" />
              </span>
              <span>The Central Library of El Bayadh</span>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</PageLayout>
