---
import HeaderLink from './HeaderLink.astro';
import DarkModeToggle from './DarkModeToggle.astro';
---

<header>
  <a
    class="unset absolute -top-[100rem] left-[50%] z-10 translate-x-[-50%] bg-white px-8 py-2 text-black focus:top-[initial]"
    href="#main">
    Skip to content
  </a>
  <nav>
    <section class="text-text-bold">
      <ul class="unset flex gap-4 [&>li]:p-0">
        <li><HeaderLink href="/">Home</HeaderLink></li>
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
        <li><HeaderLink href="/coming-soon">Projects</HeaderLink></li>
      </ul>
    </section>
  </nav>
  <div
    class="flex content-center items-center justify-self-end py-2 text-text-bold max-[375px]:hidden">
    <a
      class="unset ml-4 text-xl hover:text-text-link"
      href="https://github.com/yamanidev"
      target="_blank"
      rel="noreferrer">
      <i class="fa-brands fa-github" aria-hidden="true" title="Find me on GitHub"></i>
      <span class="fa-sr-only">Find me on GitHub</span>
    </a>
    <a
      class="unset ml-4 text-xl hover:text-text-link"
      href="https://twitter.com/yamanidev"
      target="_blank"
      rel="noreferrer">
      <i class="fa-brands fa-twitter" aria-hidden="true" title="Find me on Twitter"></i>
      <span class="fa-sr-only">Find <menu></menu> on Twitter</span>
    </a>
  </div>
  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(0, max-content);
  }
</style>
