---
import DarkModeToggle from "./DarkModeToggle.astro";
import HeaderLink from "./HeaderLink.astro";
---

<header class="py-8">
  <div class="mx-auto flex max-w-6xl justify-between px-6 sm:px-8">
    <a
      class="unset absolute -top-[100rem] left-[50%] z-10 translate-x-[-50%] bg-white px-8 py-2 text-black focus:top-[initial]"
      href="#main">
      Skip to content
    </a>
    <a href="/" class="unset font-lora font-bold">MY</a>
    <div class="flex gap-8">
      <div class="flex items-center gap-4 text-text-bold max-[375px]:hidden">
        <nav class="text-text-bold">
          <ul class="unset flex gap-4 [&>li]:p-0">
            <li>
              <HeaderLink href="/">Home</HeaderLink>
            </li>
            <li>
              <HeaderLink href="/blog/">Blog</HeaderLink>
            </li>
            <li>
              <HeaderLink href="/contact/">Contact</HeaderLink>
            </li>
          </ul>
        </nav>
      </div>
      <DarkModeToggle />
    </div>
  </div>
</header>
