---

---

<section class="mb-8">
  <div class="mb-4">
    <h1 class="overflow-hidden pb-2 pt-4 text-5xl font-extrabold tracking-tight md:text-6xl">
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] bg-clip-text text-transparent dark:from-primary-main dark:via-primary-main dark:to-primary-main">
        Mohamed Yamani
      </span>
    </h1>
    <p class="pb-4 text-2xl">Front end web developer. Sometimes a blogger :)</p>
  </div>
  <div>
    <p class="mb-5">Exploring the world of the web.</p>
  </div>
</section>
