---

---

<section class="mb-8">
  <h1 class="pb-2 pt-4 text-2xl font-bold sm:text-4xl md:text-5xl">
    <span>Mohamed Yamani,</span>
    <br />
    <span>Front End Software Engineer</span>
    <br />
    <span class="text-xl font-normal italic sm:text-2xl md:text-3xl">
      —I build web experiences and write about it online.
    </span>
  </h1>
</section>
