---
export type Props = astroHTML.JSX.AnchorHTMLAttributes;

const { href, class: className, ...props } = Astro.props;

const pathname = Astro.url.pathname;

const isHome = href === "/" && pathname === "/";
const isOtherPages = typeof href === "string" && href === pathname;
const isActive = isHome || isOtherPages;
---

<!-- DO NOT FORMAT. IT ADDS AN EXTRA SPACE ON RENDERED CONTENT. --><!-- prettier-ignore -->
<a href={href} class:list={[className, { show: isActive }, "unset animated-link"]} {...props}><slot /></a>
