---
import BaseHead from "../../../components/BaseHead.astro";
import PageLayout from "../../../layouts/PageLayout.astro";
import { TAGS } from "../../../consts";
---

<PageLayout>
  <BaseHead title="All Tags" description="Browse all tags for our blog" slot="meta" />
  <section slot="main" class="py-10">
    <div class="mx-auto max-w-6xl px-6 sm:px-8">
      <h1 class="mb-10 font-lora text-3xl font-bold">All Tags</h1>
      <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {
          Object.entries(TAGS).map(([_, tag]) => (
            <a
              href={`/blog/tags/${tag.slug}/`}
              class="unset block rounded-lg border p-4 font-semibold transition hover:bg-primary-main hover:text-white">
              {tag.label}
            </a>
          ))
        }
      </div>
    </div>
  </section>
</PageLayout>
