---
/* 
  This layout is used in 
  - pages/index.astro
  - pages/blog.astro
  - pages/projects.astro
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";

import Header from "../components/Header.astro";
import Favicon from "./Favicon.astro";
import ThemeScript from "./ThemeScript.astro";
---

<!doctype html>
<html class="theme-sleek" lang="en">
  <head>
    <Favicon />
    <ThemeScript />
    <slot name="meta" />
  </head>
  <body>
    <Header />
    <main id="main">
      <slot name="main" />
    </main>
  </body>
</html>
