---
/* 
  This layout is used in 
  - pages/index.astro
  - pages/blog.astro
  - pages/projects.astro
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import type { Language } from "../types";
import Favicon from "./Favicon.astro";
import ThemeScript from "./ThemeScript.astro";

const currentLocale = Astro.currentLocale as Language;
---

<!doctype html>
<html class="theme" lang={currentLocale} dir={currentLocale === "ar-DZ" ? "rtl" : "ltr"}>
  <head>
    <Favicon />
    <ThemeScript />
    <slot name="meta" />
  </head>
  <body class="flex min-h-[100dvh] flex-col">
    <Navbar />
    <main id="main">
      <slot name="main" />
    </main>
    <Footer />
  </body>
</html>
